POSTGRES_ADMIN_PASSWORD=admin_password
MLFLOW_DB_USER=mlflow_user
MLFLOW_DB_PASSWORD=mlflow_password
AIRFLOW_DB_USER=airflow_user
AIRFLOW_DB_PASSWORD=airflow_password
S3_ACCESS_KEY=mlplatform-access-key
S3_SECRET_KEY=mlplatform-secret-key
DOCKER_GID=0
